.a
{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
z-index:auto;
caption-side:top;
color:#006633;
}
.b
{
table-layout:auto;
border-color:#339999;
border:2px;
border-color:#33CCCC;
}
.c
{
font:"monotype Corsiva";
font-size:14px;    

}
.h
{
font:"arial black";
font:bolder;
font-size:20px;
color:#001800;
}
.l
{
font:x-large;
font-family:"Arial";
color:#001800;

}